@import '../../helpers';

.photoalbums-block{
  @include home-bottom-block;
  &__slider{
    border: 1px solid $borderGray;

    &__image {
      object-fit: cover;
      width: 100%;
      height: 350px;
    }

    &__title {
      margin: 15px 0 30px;
      text-align: center;
      a{
        @include fontz(15px, 18px, 0.02rem, uppercase, 400, $darkRed);
      }
    }

    &:hover {
      .slick-next, .slick-prev {
        background: white;
        width: 25px;
        height: 25px;
        z-index: 2;
        border: 1px solid $darkRed;
        line-height: 0.4;

        &:focus {
          background: $darkRed;
          border: 1px solid white;

          &:before {
            color: white;
          }
        }

        &:before {
          color: black;
        }
      }

      .slick-next {
        right: -10px;

        &:before {
          content: '\003E';
        }
      }

      .slick-prev {
        left: -10px;

        &:before {
          content: '\003C';
        }
      }
    }
  }

}