@import '../../../helpers';
.footer-bottom{
  background: $burgundy;
  &.container{
    padding:0;
  }
  &__block{
    display: grid;
    grid-template-columns: 34% 40% 26%;
    align-items: center;
    .modal-button{
      padding:20px 0 20px 15px;
    }
    button{
      border: 2px solid white;
      border-radius:5px;
      padding: 23px 100px;
      outline: none;
      background: transparent;
      @include fontz(20px,0px,0.02em,none,500,white);
      max-height:50px;
      max-width:316px;
      cursor: pointer;
      &:hover, &:focus{
        background-color: white;
        color: $burgundy;
        transition: all 0.5s;
        border:2px solid $burgundy
      }
    }
    &-time{
      display: flex;
      padding:20px 0 20px 0;
      flex-direction: row;
      justify-content: center;
      gap:10px;
      @include fontz(16px,24px,0.02em,capitalize,500,white);
    }
  }
}