@import '../../../helpers';

.top-header_menu {
  display: flex;
  list-style:none;
  a {
    @include fontz(12px, 14px, 0.02rem, none, 400, white);
    text-decoration: none;
    &:hover{
      color: #fdbe34;
    }
  }
}



