@import '../../helpers';

.subscriber{
  display: flex;
  justify-content: space-between;
  .social-links_block{
    display: flex;
    align-items: center;
    padding:29px 0 34px;
    column-gap: 5px;
    a{
      transition: all 0.2s;
      &:hover{
        margin-top: -5px;
      }
    }
  }
  &-from{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text{
      display: flex;
      align-items: center;
      color:white;
    }
  }
  form{
    max-width: 600px;
    display: flex;
    width:50%;
    align-items: center;
    position:relative;
  }
  .subscriber-from-container{
    max-width: 900px;
    width: 100%;
  }
  input{
    background-color: $dark;
    border: 1px solid $borderGray;
    color: $lightGray;
    padding: 10px;
    outline: none;
    max-width: 450px;
    width: 100%;
    &::placeholder{
      color: $lightGray;
    }
    &:focus{
      border: 1px solid $lightRed;
    }
  }
  button{
    border: 1px solid $darkRed;
    padding: 11.8px 20px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-left: 20px;
    background: $darkRed;
    cursor: pointer;
  }
}
