$darkRed: #8b2b30;
$lightRed: #a62424;
$burgundy:#561111;
$lightGray: #e5e5e5;
$dark: #3f444e;
$darkGray: #A1A1A1;
$borderGray: #d8d8d8;
$basicGray:#808080FF;
$plusIconSize: 30px;
$generalFont: 'Montserrat',sans-serif;

$sm: 480px;
$md: 768px;
$lg: 976px;
$xl: 1200px;
$xxl: 1440px;