@import '_helpers.scss';

body{
  font-family: $generalFont;
}

html,
body {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  transition:
          font-size,
          padding,
          margin 0.3s ease-in-out;
}
main{
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul{
  li{
    list-style: none;
  }
}

a{
  text-decoration:none;
  color:black;
}

.field-description{
  p{
    margin: 1em 0;
  }
}

iframe{
  border:none;
}

.container{
  width: 1440px;
  max-width:100%;
  margin:0 auto;
  padding:0 15px;
}

.block-title{
  text-align: center;
  margin: 1.2em 0;
  font-size: 1.8em;
  font-weight: bold;
  @media (max-width: $lg) {
    font-size: 1.5em;
  }
  @media (max-width: $sm) {
    font-size: 1.2em;
  }
}
.text-align{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
  &-center{
    text-align: center;
  }
}

.subtitle{
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
}
.date_field{
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.teaser_title{
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.ckeditor-responsive-table{
  overflow: auto;
}
table{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}
table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: $basicGray;
}
table thead {
  background: transparent;
  border-radius: .5rem;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tbody tr {
  border-bottom: 1px solid $dark;
}
table tr {
  color: black;
  background-color: transparent;
}
table tbody td {
  height: auto;
  padding: 1rem 1rem;
}
td {
  box-sizing: border-box;
  text-align: left;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
table th, table th {
  color: white;
}
table th {
  font-size: .875rem;
  font-weight: 575;
  background: $dark;
}
th {
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: left;
  line-height: 1.25rem;
}
th {
  display: table-cell;
  vertical-align: inherit;
}
.loader-block{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  img{
    -webkit-animation: loader-bounce 3s infinite;
    animation: loader-bounce 3s infinite;
    width: 200px;
    height: auto;
  }
}
@keyframes loader-bounce {
  0%{
    opacity: 0;
    filter: blur(1);
  }
  50%{
     opacity: 1;
     filter: blur(0);
   }
}