.calendar-button-clear{
  border: 1px solid #8b2b30;
  background: #8b2b30;
  border-radius: 6px;
  width: 63px;
  height: 33.195px;
  color: white;
  transition: 0.2s;
  &:hover{
    transition: 0.2s;
    background: transparent;
    color: black;
  }
  span{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.calendar{
  position: absolute;
  top: 38px;
}