@import "variables";
.type-filter {
  .type-filter__button {
    &::before {
      position: absolute;
      top: 19px;
      width: 8px;
      height: 8px;
      content: "";
      background: $darkGray;
      left: 0;
      border-radius: 50%;
    }
    cursor: pointer;
    color: gray;
    position: relative;
    padding: 12px 20px;
    border-bottom: 1px solid $darkGray;
    &:hover, &:active{
      border-color: $darkRed;
      color: $darkRed;
    }
  }
}

.feed-data-title{
  border-top: 1px solid $darkGray;
  padding: 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid $darkGray;
}
.feed-data-container{
  padding: 20px 0;
  border-bottom: 1px solid $darkGray;
  margin-bottom: 70px;
  .feed-data-item:not(:first-child){
    margin-top: 15px;
  }
}