@import "variables";
.type-filter__select{
  text-align: left;
  //appearance: none;
  border-radius: 6px;
  border: 1px solid $darkRed;
  width: 160px;
  height: 33px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}