@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Roboto', sans-serif;
}
.main-slider__item {
  text-align: center;
  display: flex !important;
  justify-content: center;
}
.main-slider__item img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}
.main-slider__item-content{
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 500px;
  max-width: 1170px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  row-gap: 20px;
}
.main-slider__title{
  font-size: 60px;
  color: #fff;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 700;
}
.main-slider__description{
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.main-slider__link{
  padding: 15px 25px;
  border: 1px solid #a62424;
  background-color: #a62424;
  color: #fff;
  border-radius: 4px;
  transition: .2s ease;
  &:hover{
    background-color: transparent;
    transition: .2s ease;
  }
}
.main-slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f444e;
  opacity: .15;
  pointer-events: none;
}
.main-slider__line{
  width: 80px;
  height: 4px;
  background-color: #a62424;
}
.main-slider{
  .slick-dots{
    position: absolute;
    bottom: 60px;
    li{
      button{
        outline: none;
        display: block;
        width: 10px;
        cursor: pointer;
        height: 10px;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 100%;
        background-color: transparent;
        opacity: 1;
        transition: .3s ease-in;
        text-indent: -9999px;
      }
      &.slick-active{
        button{
          background-color: #fff;
          -webkit-animation: someAnim 1s;
          animation: someAnim 1s;
          transition: 1s ease-in;
        }
      }
    }

  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .slick-dots li {
    margin: 0 5px;
    position: relative;
  }

  .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  .slick-dots li.slick-active button {
    animation: bounce 1s 1;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(8px);
    }
    60% {
      transform: translateY(4px);
    }
  }
}
.actual-news-block{
  background-color: #3f444e;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  .actual-news-block__container{
    background-color: #fff;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -30px;
    .actual-news-block__item{
      max-width: 390px;
      display: flex;
      height: 170px;
      .actual-news-block__content{
        overflow: hidden;
        padding: 22px 11px 21px 14px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .actual-news-block__title{
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          position: relative;
          &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: -5px;
            width: 66px;
            height: 2px;
            background-color: #c4c4c4;
          }
        }
        .actual-news-block__summary{
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
        }
      }
      &:nth-child(4), &:nth-child(5), &:nth-child(6){
        flex-direction: row-reverse;
      }
    }
  }
}
.last-news-block{
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
  .last-news-block__block-title a{
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .last-news-block__container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    .last-news-block__item{
      max-width: 275px;
      height: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
       .last-news-block__title{
         font-weight: 700;
         color: #000;
         word-break: break-word;
         font-size: 14px;
         line-height: 16px;
         overflow: hidden;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 4;
         text-overflow: ellipsis;
       }
      .last-news-block__summary{
        font-weight: 400;
        word-break: break-word;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
      }
      .last-news-block__link-block{
        margin-top: auto;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: row;
        width: 134px;
        transition: transform 0.3s ease-in-out;
        .last-news-block__link{
          display: block;
          font-size: 12px;
          line-height: 14px;
          color: #8b2b30;
          text-transform: uppercase;
          padding: 12px 12px 12px 12px;
          border-left: 1px solid #e8e8e8;
        }
        img{
          height: 8px;
          width: 12px;
          margin: auto;
        }
        &:hover{
          background-color: #fdbe34;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
}
.events-slider{
  background-color: #c4c4c4;
  //min-height: 630px;
  padding: 60px 0;
  .events-slider__block-title{
    max-width: 1170px;
    display: block;
    width: 100%;
    margin: 0 auto;
    a{
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .events-slider__container{
    max-width: 1170px;
    padding: 20px 0;
    margin: 0 auto;

    .events-slider__item{
      position: relative;
      height: 403px;
      background-color: #fff;
      .events-slider__block-date{
        height: 0;
        overflow: hidden;
      }
      .events-slider__top{
        overflow: hidden;
        height: 236px;
        position: relative;
        .events-slider__title{
          color: #fff;
          font-size: 1.17em;
          position: absolute;
          bottom: 3px;
          font-weight: bold;
          padding: 0 15px 15px;
          line-height: 1.15;
        }
        &>img{
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 0;
          filter: brightness(0.4);
        }
      }
    }
    .events-slider__bottom{
      padding: 10px;
      .events-slider__summary{
        color: gray;
        font-size: 14px;
        line-height: 16px;
        word-break: break-word;
      }
      .events-slide__link-block{
        position: absolute;
        z-index: 5;
        bottom: -15px;
        right: 5px;
      }
      .events-slide__link-block a{
        display: inline-block;
        padding: 14px;
        background-color: #3f444e;
        img{
          display: block;
        }
      }
    }
  }
  .slick-slide{
    width: 372px;
    margin: 0 15px;
  }
  .slick-list {
    margin: 0 -10px;
    height: 460px;
  }
  .slick-track{
    height: 450px;
  }
}
//.container{
//  max-width: 1170px;
//  margin: 0 auto;
//}
