@import '../../helpers';

.top-header {
  background-color: #561111;
  .top-header_container {
    font-size: 12px;
    line-height: 14px;
    color: $lightGray;
    display: flex;
    height: 69px;
    align-items: center;
    a:hover{
      color: #fdbe34;
    }
    .top-header_menu {
      display: flex;
      a {
        font-size: 12px;
        line-height: 14px;
      }
    }
    .language-switcher{
      white-space:nowrap;
      a{
        padding: 10px;
      }
    }
  }
}

.language-switcher{
  display: flex;
  height: 40px;
  width: 80px;
  margin-right: 100px;
  justify-content: space-between;
  a{
    padding: 10px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.2s;
    line-height: 17px;
    &:hover{
      border-color: white;
    }
  }
  .active{
    border-bottom: 2px solid white;
  }
}
