@import '../../helpers';
.homepage-bottom{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 30px 0;
  row-gap: 30px;
}
@media (max-width: $xl) {
  .homepage-bottom{
    justify-content: space-around;
    padding: 15px 10px;
  }
}