@import '../../helpers';
.homepage-bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  gap:40px;
}
@media (max-width: $xl) {
  .homepage-bottom{
    justify-content: space-around;
    padding: 15px 10px;
  }
}